body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main backgroung (imp) */
.imp {
    width: 100%;
    min-height: 75vh;
    background-image: linear-gradient(rgba(35, 64, 169, 0.449),rgba(160, 84, 84, 0.426)), url(hero1.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10px 8%; */
}

/* hero img starts */
.hero {
    background-image: url(Screenshot\ 2024-05-05\ 131329.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;

}

.hero img {
    height: 168px;
    width: 180px;
    border-radius: 700px;
    margin-top: 15px;
    /* filter: invert(100%); */
}

.hero h1 {
    background-color: rgb(255, 228, 196);
    color: rgb(255, 1, 1);
    font-size: 1.0rem;
    /* margin-bottom: 100px; */
}

/* navbar starts */
.navbar {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    /* position: fixed; */
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 6px 9px;
    margin-left: -4px;
    font-size: 0.8rem;
    font-weight: 900;
    color: rgb(255, 239, 239);
    background-color: #374758;
    /* background-color: aquamarine; */
    border-radius: 5px;
}
/* Enter button starts */
.btn{
    display: none;
}
/* .btn a{
    background-color: rgb(255, 0, 0);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 30px;
    border-bottom: 5px solid black;
}
.btn a i{
    margin-left: 10px;
}
.btn a:hover{
    transition-property: all;
    transition-duration: 0.5s;
    background-color: #508b25;
    color: rgb(255, 255, 255);
    border-bottom: 4px solid black;
} */
.lang a {
    font-family: "Noto Sans Kannada", sans-serif;
    text-decoration: none;
    padding: 2px;
    margin-left: 20px;
    font-size: 0.8rem;
    color: rgb(235, 0, 0);
    font-weight: bolder;
    background-color: #fdfeff;
    border-radius: 5px;
}

.lang a:hover {
    border: 2px solid black;
}

.navbar ul li a:hover {
    border: 2px solid black;
}

/* container or boxs starts */
.pH h1 {
    /* background-color: rgb(255, 255, 255); */
    padding: 30px 0px;
    margin-top: 0px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 280px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.items img{
    padding: 10px;
    height: 180px;
    width: 200px;
}
.items img:hover{
    animation: hover;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-iteration-count: initial;
}
@keyframes hover {
    0%{
    padding: 5px;
    width: 185px;
    height: 205px;
    }    
    50%{
        padding: 5px;
    width: 185px;
    height: 205px;
    }
    100%{
    padding: 5px;
    width: 185px;
    height: 205px;
    }
}
.items h2{
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #99a6b4;
    color: rgb(0, 0, 0);
}
.select {
    text-decoration: none;
    border: 2px solid black;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: aquamarine;
}

.select:hover {
    background-color: gray;
}
/* FOOTER */
.foot-1{
    background-color: #374758;
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-1 a{
    text-decoration: none;
    align-items: center;
}
.foot-1 a h2:hover{
    color: rgb(0, 0, 0);
}
.foot-1 a h2{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.foot-4{
    background-color: #374758;
    color: white;
    height: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 0.8rem;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    /* font-weight: bolder; */
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.pages{
    /* font-size: 1rem;
    text-align: center; */
    padding-top: 25px;
}
.copy{
    /* font-size: 1rem;
    text-align: center; */
    padding-top: 8px;
}
/* fade effect */
.hide{
    opacity: 0;
    /* transform: translateX(-50%); */
    transition: all 3s;
}
.show{
    opacity: 1;
    /* transform: translateX(0); */
    transition: all 1s;
}